<div class="d-flex db-highlight">
    <div class="p-2 w-100 bd-highlight">
        <section class="py-5 text-center">
            <div class="container">
                <h1 class="fw-light">Bienvenue sur AllTrue</h1>
                <p class="lead">La vérité triomphe toujours avec AllTrue.</p>
                <form #f="ngForm" class="form-inline justify-content-center" (ngSubmit)="onCherche(f.value.text)">
                    <div class="form-group d-flex flex-row">
                        <input type="text" name="text" class="form-control mr-2" placeholder="Entrez le titre" ngModel>
                        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                    </div>
                </form>
            </div>
        </section>
        <div *ngIf="resources">
            <div class="card">
                <div class="card-header">
                  Documentations
                </div>
                <div class="card-body">
                  <h5 class="card-title">Les resources</h5>
                  <p class="card-text">{{resources}}</p>
                </div>
              </div>
        </div>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight">
        <div class="album py-5 bg-light p-2 w-100 bd-highlight">
            <div class="container">
                <h1 class="fw-light" style="display: flex;
                justify-content: center;">Historiques</h1>

                <div class="row row-cols-1 row-cols-sm-2 " style="justify-content: center;">
                    <div class="col">
                        <div >
                            <ul class="list-group" *ngFor="let titre of historiques" (click)=onHistorique(titre.titre)>
                                <li style="margin-bottom: 10px; cursor: pointer;" class="list-group-item">
                                    {{titre.titre}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="separation"></div>
            </div>
        </div>

    </div>


</div>