<div>
        <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a *ngIf="!isAuthentificated()" routerLink="/" class="navbar-brand">
                <img src="assets/images/AllTrue-logo1.png" height="50" alt="CoolBrand">
            </a>
            <a *ngIf="isAuthentificated()" routerLink="/recherche" class="navbar-brand">
                <img src="assets/images/AllTrue-logo1.png" height="50" alt="CoolBrand">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a *ngIf="isAuthentificated() && isClient()" routerLink="/recherche" class="nav-item nav-link">RECHERCHE</a>
                    <a *ngIf="!isAuthentificated()" routerLink="/inscription" routerLinkActive="active"
                        class="nav-item nav-link">INSCRIPTION</a>
                    
                </div>
                <div *ngIf="!isAuthentificated()" class="navbar-nav ms-auto">
                    
                    <a routerLink="/connexion" class="bi bi-box-arrow-in-right">log in</a>
                </div>
                <div *ngIf="isAuthentificated()" class="navbar-nav ms-auto d-flex" style="align-items: center;                        ">
                    <a *ngIf="isAuthentificated() && isClient()" class="nav-item dropdown pe-3">
                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <img *ngIf="photo" [src]="photo" alt="Profile" class="rounded-circle">
                          </a>
                    </a>
                    <a *ngIf="isAuthentificated() && isClient()" routerLink="/profil" routerLinkActive="active"
                        class="nav-item nav-link"><i class="bi bi-person-circle"></i></a>
                    <a routerLink="/connexion" class="bi bi-box-arrow-left" (click)="isLogout()">Log out</a>
                </div>

            </div>
        </div>
    </nav>-->
        <nav >
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                <a class="navbar-brand" href="#">All True</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a *ngIf="isAuthentificated() && isClient()" routerLink="/recherche"
                                class="nav-item nav-link">RECHERCHE</a>
                        </li>
                        <li>
                            <a *ngIf="!isAuthentificated()" routerLink="/inscription" routerLinkActive="active"
                                class="nav-item nav-link">INSCRIPTION</a>
                        </li>

                        <li class="nav-item" *ngIf="isAuthentificated()">
                            <a class="nav-link" href="#">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">À propos</a>
                        </li>
                        <li class="nav-item" *ngIf="isAuthentificated()">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <div *ngIf="!isAuthentificated()" class="navbar-nav ms-auto" style="align-items: center;">
                    
                            <a routerLink="/connexion" class="bi bi-box-arrow-in-right">log in</a>
                        </div>
                        <div *ngIf="isAuthentificated()" class="navbar-nav ms-auto d-flex" style="align-items: center;                        ">
                            <a *ngIf="isAuthentificated() && isClient()" class="nav-item dropdown pe-3">
                                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                                    <img *ngIf="photo" [src]="photo" alt="Profile" class="rounded-circle">
                                  </a>
                            </a>
                            <a *ngIf="isAuthentificated() && isClient()" routerLink="/profil" routerLinkActive="active"
                                class="nav-item nav-link"><i class="bi bi-person-circle"></i></a>
                            <a routerLink="/connexion" class="bi bi-box-arrow-left" (click)="isLogout()">Log out</a>
                        </div>

                    </ul>
                </div>
            </div>
            </div>
            
        </nav>
    <router-outlet></router-outlet>
</div>